@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Nielepice<br />
    Sosnowa 11<br />
    <abbr title="Phone">P:</abbr>
    72857889
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:crmagd@gmail.com">crmagd@gmail.com</a><br />
</address>
