@using CRM_AGD

@{
  var checkModule = StaticValues.CheckModule;
}

@switch (checkModule)
{
  case (CRM_AGD.Enum.Module.Address):
    <ul class="nav navbar-nav">
      <li><a asp-area="Address" asp-controller="Cities" asp-action="Index">Cites</a></li>
      <li><a asp-area="Address" asp-controller="Streets" asp-action="Index">Streets</a></li>
      <li><a asp-area="Address" asp-controller="StreetPrefixes" asp-action="Index">Street Prefixes</a></li>
    </ul>
    break;
  case (CRM_AGD.Enum.Module.Equipment):
    <ul class="nav navbar-nav">
      <li><a asp-area="Equipment" asp-controller="Manufacturers" asp-action="Index">Manufacturer</a></li>
      <li><a asp-area="Equipment" asp-controller="MachineTypes" asp-action="Index">Machine Types</a></li>
      <li><a asp-area="Equipment" asp-controller="MachineModels" asp-action="Index">Models</a></li>
    </ul>
    break;
  case (CRM_AGD.Enum.Module.Client):
    <ul class="nav navbar-nav">
      <li><a asp-area="Client" asp-controller="Clients" asp-action="Index">Client</a></li>
      <li><a asp-area="Client" asp-controller="IssueFromPortals" asp-action="Index">Issue from portal</a></li>
      <li><a asp-area="Client" asp-controller="Issues" asp-action="Index">Issue</a></li>
    </ul>
    break;
  case (CRM_AGD.Enum.Module.Mail):
    <ul class="nav navbar-nav">
      <li><a asp-area="Mail" asp-controller="Inboxes" asp-action="Index">Inbox</a></li>
      <li><a asp-area="Mail" asp-controller="Sendboxes" asp-action="Index">Sendbox</a></li>
    </ul>
    break;
  case (CRM_AGD.Enum.Module.Settlements):
    <ul class="nav navbar-nav">
      <li><a asp-area="Settlements" asp-controller="Factures" asp-action="Index">Facture</a></li>
      <li><a asp-area="Settlements" asp-controller="VatRates" asp-action="Index">VAT rates</a></li>
    </ul>
    break;
}
