@using CRM_AGD

@{
  //StaticValues staticValues = new StaticValues();
  var checkModule = StaticValues.CheckModule;
}


@if (checkModule == 0)
{
<ul class="nav navbar-nav">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
  <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
  <li><a asp-area="" asp-controller="Cities" asp-action="Index">Cites1</a></li>
  <li><a asp-area="" asp-controller="Streets" asp-action="Index">Streets</a></li>
  <li><a asp-area="" asp-controller="StreetPrefixes" asp-action="Index">Street Prefixes</a></li>
</ul>
}
else if(checkModule == 1)
{
<ul class="nav navbar-nav">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
  <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
  <li><a asp-area="" asp-controller="Cities" asp-action="Index">Cites</a></li>
  <li><a asp-area="" asp-controller="Streets" asp-action="Index">Streets1</a></li>
  <li><a asp-area="" asp-controller="StreetPrefixes" asp-action="Index">Street Prefixes</a></li>
</ul>
}
else if(checkModule == 2)
{
<ul class="nav navbar-nav">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
  <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
  <li><a asp-area="" asp-controller="Cities" asp-action="Index">Cites</a></li>
  <li><a asp-area="" asp-controller="Streets" asp-action="Index">Streets</a></li>
  <li><a asp-area="" asp-controller="StreetPrefixes" asp-action="Index">Street Prefixes1</a></li>
</ul>
}
